.RData
.Rhistory
.config
OLD
past_jasmin_datalabs_runs
occurence_datasets
monad_occupancy_dataset_bees.rds
occupancy_results.rds
occti_plots
occupancy_comparison_plots
ants_loess_smoothing.rds
occti_plots_butterflies
occti_plots_ants
sparta_posterior_samples
occupancy_approaches/sparta/UK_grid_refs_monads.csv
_rlsurm_*
emily_dennis_examples
sparta_occti_trends_plots